.bg-gradient-header {
  /*background: linear-gradient(to right, #4d5f98, #9f3669) !important;*/
  background-color: #4d5f98;
}

.bg-menu {
    /*background: linear-gradient(to right, #4d5f98, #9f3669) !important;*/
    background-color: #d5defb;
}

.text-header-menu {
    color: #4d5f98; /* Reemplaza #ff0000 con el color deseado */
  }

.responsive-img-dashboard{
    max-width: 100%;
    height: auto;
  }
  


  

